.search-bar {
  border: 1px solid #4151e4;
  padding: 8px 5px 8px 29px;
  border-radius: 8px;
  background: url('../assets/header//search-loop.svg') 10px 8px no-repeat;

  // background-color: red;
}
